/*CSS Reset */
* {
    margin: 0;
    padding: 0:
    box-sizing: border-box:
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
/*Shorthand property */
/*Applied to all sides*/
/*Value is 12.8 pixels based on the root elements*/

    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;

 /*   padding-top: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    */
/*margin is best used when creating space between elements*/
/*padding is best used when creating space between an element's border and its content*/

}
nav .nav nav .nav-logo {
    margin: 0.5 rem;
    display: inline;
}
/*intro section*/
#intro {
    padding-top: 2rem;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3rem;
/*Short hand property    */
/*padding: 2rem 10% 3rem*/
text-align: center;

}
.header {
    text-align: center;
}
#intro h2, #intro p {
/*Creates space between the contents of the intro section    */
    margin-bottom: 1rem;
}
#intro button {
    color: white;
    /*changes the thickness of text*/

    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
/*creates space between the button text*/
    padding: 1rem;
}
#succeed-info {
    padding-top: 2rem;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3rem;

}
#succeed-info h2 {
    margin-bottom: 1rem;
}
#succeed-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
/*allows the cards to appear beside each other    */
    display: inline-block;
/* aligns elemts with the tallest element inline   */
    vertical-align: top;
/*allows for cards to have equal height that adjust with the content*/
    min-height: 175px;
/*measurement is based on equally deviding the parent container's width */
/*only use 30% and not 33.3% to avoid overflow and horizontal scrolling*/
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


